<!-- NAVBAR ================================================== -->
<div class="navbar-wrapper">
  <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
  <div class="container">
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
		
        <a class="brand" href="{{ HOME_PATH }}">
          <img width="261.5" height="64" src="{{ ASSET_PATH }}/img/branding/interfaceVisionLogoNoBorder.png"></img>
        </a>

        <div class="nav-collapse collapse">
          <ul class="nav">
            <li {% if page.id == "home" %}class="active"{% endif %}><a href="./index.html">Home</a></li>
            <li {% if page.id == "tour" %}class="active"{% endif %}><a href="./tour.html">Tour</a></li>
            <li {% if page.id == "about" %}class="active"{% endif %}><a href="./aboutUs.html">About Us</a></li>
            <li {% if page.id == "signup" %}class="active"{% endif %}><a href="./signup.html">Sign Up</a></li>
            <li {% if page.id == "careers" %}class="active"{% endif %}><a href="./careers.html">Careers</a></li>
            <!-- <li {% if page.id == "contact" %}class="active"{% endif %}><a href="./contact.html">Contact</a></li> -->
          </ul>
        </div><!-- nav-collapse -->
      </div><!-- navbar-inner -->
    </div><!-- navbar navbar-inverse -->

  </div> <!-- container -->
</div> <!-- navbar-wrapper -->

{{ content }}

<div class="container">
    <!-- FOOTER -->
    <footer>
      <div class="container">
          <div class="row">
              <div class="span3">
                  <h5>Product</h5>
                  <!-- <a href="./product.html" target="_blank">Product</a><br> -->
                  <a href="./tour.html">Tour</a><br>
                  <a href="./signup.html">Signup Now</a><br>
                  <!-- <a href="#">FAQ</a><br> -->
                  <!-- <a href="#" target="_blank">Developer Support</a> -->
              </div>
              <div class="span3">
                <h5>About Us</h5>
                <a href="./aboutUs.html">Company and Team</a><br>
                <a href="./careers.html">Careers</a><br>
                <a href="./tour.html">Features</a><br>
                <!-- <a href="#">Privacy</a><br> -->
                <!-- <a href="#">Terms</a> -->
              </div>
              <div class="span3">
                <h5>Community</h5>
                <a href="http://blog.interfacevision.com/" target="_blank">Blog</a> <br>
                <a href="https://twitter.com/interfacevision/" target="_blank">Twitter</a> <br>
                <a href="https://facebook.com/interfacevision/" target="_blank">Facebook</a> <br>
                <!-- <a href="./contact.html">Contact Us</a> <br> -->
                <!-- <a href="./attribution.html">Attribution</a> <br> -->
              </div>
          </div>
      </div>
<!--       <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2013 Interface Vision, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p> -->
    </footer>
</div>

<!-- Placed at the end of the document so the pages load faster -->
<!-- Replaced this with:

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>

in default.html

<script src="{{ ASSET_PATH }}/js/jquery.js"></script>
<script src="{{ ASSET_PATH }}/js/bootstrap-transition.js"></script>
<script src="{{ ASSET_PATH }}/js/bootstrap-alert.js"></script>
<script src="{{ ASSET_PATH }}/js/bootstrap-modal.js"></script>
<script src="{{ ASSET_PATH }}/js/bootstrap-dropdown.js"></script>
<script src="{{ ASSET_PATH }}/js/bootstrap-scrollspy.js"></script>
<script src="{{ ASSET_PATH }}/js/bootstrap-tab.js"></script>
<script src="{{ ASSET_PATH }}/js/bootstrap-tooltip.js"></script>
<script src="{{ ASSET_PATH }}/js/bootstrap-popover.js"></script>
<script src="{{ ASSET_PATH }}/js/bootstrap-button.js"></script>
<script src="{{ ASSET_PATH }}/js/bootstrap-collapse.js"></script>
<script src="{{ ASSET_PATH }}/js/bootstrap-carousel.js"></script>
<script src="{{ ASSET_PATH }}/js/bootstrap-typeahead.js"></script>
-->

<!--

<script>
  !function ($) {
    $(function(){
      // carousel demo
      $('#myCarousel').carousel()
    })
  }(window.jQuery);
  
/*  $(document).ready(function() {  
     $("#myCarousel").swiperight(function() {  
        $("#myCarousel").carousel('prev');  
      });  
     $("#myCarousel").swipeleft(function() {  
        $("#myCarousel").carousel('next');  
     });  
  }); */
  
</script>
-->





